@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Righteous&display=swap');

body{
    margin: 0;
    background-color: #FEF1E6;
}

header{
    background-color:#7D8F69;
    display: inline-flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    top: 0;
}

h1{
    margin-top: 0;
    font-family: 'Lexend', sans-serif;
}

h2{
    top: 0;
    font-family:'Montserrat', sans-serif;
}

h3{
    font-family: 'Koulen', cursive;
}

p{
    font-family:'Montserrat', sans-serif;
    line-height: 25px;
    color: #515963;
}

a{
    text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    display: block;
    padding: 0 3rem;
}

.logo a{
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.logo a:hover{
    color: #FFB085;
}

.navbar a, button{
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-align: center;
}

.navbar{
    display: inline-flex;
    height: 6rem;
    align-items: center;
    padding: .25rem 10rem;
    gap: 3rem;
}

.link{
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.navbar .link:hover{
    color: #F9D5A7;
}

.navbar .list{
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 2em;
}

.navbar .list:hover{
    color: #d65f57;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    white-space: nowrap;
    position: absolute;
    left: 0;
    z-index: 1;
    top: calc(100%);
    background-color: #F9D5A7;
    border-radius: 0 50px 50px 50px;
    width: 15rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
    pointer-events:visible;
    transform: translateY(0);
}

.container{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 8em 6em;
}

#info {
    display: inline-block;
   /** position: absolute;
    top: 35%;
    bottom: 50%;**/
    left: 20%;
}

#info a{
    margin-top: 0;
    font-family: 'Lexend', sans-serif;
    font-size: 3rem;
    color: #556e8f;
    line-height: 2em;
    cursor: pointer;
}

#info h2{
    font-family: 'Koulen', cursive;
    font-size: 1.5rem;
    color: #AD8B73;
    font-weight: 100;
    line-height: 20px;
}

#info p{
    margin-top: 0%;
    bottom: 0%;
    line-height: 0;
}

.home .home-text{
   /** padding-left: 45em;**/
    padding-top: 3em;
    position: relative;
}

.home .home-text p{
   margin:0;
   overflow: hidden;
}
.animate-text span{
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
    font-weight:normal;
    color:#E16B67;
    display: inline-block;
    line-height: 50px;
    display: none;
    cursor: pointer;
}

.animate-text span.text-in{
   display: block;
   animation: textIn .5s ease;
}

.animate-text span.text-out{
   animation: textOut .5s ease;
}

/**.animate-text span.text-in:hover{
    animation-play-state: paused;
}

.animate-text span.text-out:hover{
    animation-play-state: paused;
}**/

@keyframes textIn{
   0%{
       transform: translateY(100%);
   }
   100%{
       transform: translateY(0%);
   }
}
@keyframes textOut{
   0%{
       transform: translateY(0%);
   }
   100%{
       transform: translateY(-100%);

   }
}

.popup .overlay{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.popup .content{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #F3F3F2;
    width: 400px;
    height: 550px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: #515963;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.popup .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #AD8B73;
    color: #F3F3F2;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}